@font-face {
    font-family: 'W95FA';
    src: url('font/W95FA.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; 
    margin: 0; 
    overflow: hidden; 
}
.container {
    /* height: 100vh;  */
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 

}

body {
    background-color: #72A4D7;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    /* height: 100vh;  */
    overflow: hidden;
    height: 100%;
}

.header {
    width: 100%;
    background-color: #DCAADF;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px; 
}

.header__content {
    display: flex; 
    align-items: center; 
    flex-grow: 1; 
}

.header__time {
    font-family: 'W95FA', sans-serif;
    font-size: 24px; 
    color: #FFFFFF;
}

.header__battery-icon {
    height: auto;
    margin-left: 20px; 
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(5, auto); 
    gap: 10px; 
    width: 100%;
    flex-grow: 0; 
    padding: 10px; 
}

.grid__item {
    display: flex; 
    justify-content: center; 
    align-items: center;
    overflow: hidden;
   
}

.grid__item img {
    max-width: 100%; 
    height: auto; 
   
}

.grid__item--photo {
    grid-column: 2 / span 2; 
    grid-row: 1 / span 3; 
}


.windows-logo {
    position: fixed;
    bottom: 45px;
    right: 30px;
    width: auto;
    height: auto; 
    z-index: -1;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #72A4D7;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    height: 100vh; 
    overflow: hidden;
}

header {
    width: 100%;
    background-color: #DCAADF;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px; 
}

.header-content {
    display: flex; 
    align-items: center; 
    flex-grow: 1; 
}

.time {
    font-family: 'W95FA', sans-serif;
    font-size: 24px; 
    color: #FFFFFF;
 
}

.battery-icon {
    height: auto;
    margin-left: 20px; 
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(5, auto); 
    gap: 10px; 
    width: 100%;
    flex-grow: 0; 
    padding: 10px; 
}

.grid-item {
    display: flex; 
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}

.grid-item img {
    max-width: 100%; 
    height: auto; 
}

.photo {
    grid-column: 2 / span 2; 
    grid-row: 1 / span 3; 
}

.windows-logo {
    position: fixed;
    bottom: 45px;
    right: 30px;
    width: auto;
    height: auto; 
    z-index: -1;
}

.profile-top {
    font-family: 'W95FA';
    height: 36px; 
    width: 100%;
    background-color: #DBD6FD;
    display: flex;
    align-items: center;     
    justify-content: flex-start; 
    padding-left: 10px;
    position: relative;
    box-sizing: border-box; 
}

.profile-top__image {
    height: 26px; 
    margin-right: 8px; 
}

.profile-top__close-btn {
    position: absolute;
    right: 23px;
    height: 27px; 
    width: auto;

    transition: transform 0.5s ease, 
}

.profile-top__close-btn:active {
    transform: scale(0.9); 
}
.profile-top__close-icon {
    transition: transform 0.5s ease; 
}

.close-btn {
    position: absolute;
    right: 23px;
    height: 27px; 
    width: auto
}
.separator {
    width: 100%;
    height: 2px;
    padding: 1px;
}

.separator--white {
    background-color: white;
}

.mail-section {
    width: 100%;
    height: 38px; 
    background-color: #FFDEE2;
    display: flex;
    align-items: center; 
    padding-left: 18px; 
    color: #EB2864;
    box-sizing: border-box; 
}

.mail-section__title {
    font-family: 'W95FA', sans-serif;
    font-size: 25px;
    text-decoration: underline;
    height: 100%; 
    display: flex; 
    align-items: center; 
}

.separator--pink {
    background-color: #EB2864;
}

.skills-section {
    font-family: 'W95FA';
    display: flex; 
    align-items: flex-start; 
    margin-left: 10px;
    margin-top: 36px; 
}

.skills-section__nastya-image {
    margin-right: 10px; 
    height: auto; 
    width: auto; 
}

.skills-section__olesya-image {
    margin-left: 10px; 
    height: auto; 
    width: auto; 
}

.skills-section__text-content {
    margin-right: 10px; 
}

.skills-section__name {
    font-size: 25px; 
    font-family: 'W95FA', sans-serif;
}

.skills-section__item {
    margin-top: 5px;
    display: flex; 
    margin-bottom: 20px; 
}

.skills-section__level-image {
    align-self: center;
    margin-left: 10px; 
}

.skills-section__skills {
    font-family: 'W95FA', sans-serif; 
    font-size: 15px; 
    margin: 0;
    text-align: left; 
}

.skills-section__about-title {
    font-size: 22px; 
    font-family: 'W95FA', sans-serif;
}

.skills-section__about-text,
.skills-section__about-text-o {
    width: 170px;
    overflow-wrap: break-word; 
}

.skills-section__more-link {
    font-family: 'W95FA', sans-serif;
    color: #6E81B1;
    font-size: 19px;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 20px;
}

.more-link {
    font-family: 'W95FA', sans-serif;
    color: #6E81B1;
    font-size: 19px;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 20px;
}
.cv-image {
    width: 100%; 
    display: block; 
}

.olesya-img {
    margin-left: 10px; 
    height: auto; 
    width: auto; 
    max-height: none; 
    max-width: none; 
}

.nastya-img {
    margin-right: 10px; 
    height: auto; 
    width: auto; 
    max-height: none; 
    max-width: none; 
}

.skills-item {
    margin-top: 5px;
    display: flex; 
    margin-bottom: 20px; 
}

.level-img {
    align-self: center;
    margin-left: 10px; 
    margin-right: 0px; 
}

.skills {
    font-family: 'W95FA', sans-serif; 
    font-size: 15px; 
    margin: 0;
    text-align: left; 
}

.about-text {
    width: 170px;
    overflow-wrap: break-word; 
}

.about-text-o {
    width: 185px; 
    overflow-wrap: break-word; 
}


.main-body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    overflow: hidden; 
}

.top-separator {
    width: 100%; 
    height: 70px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #FEE8EB; 
}

.top-separator__nav-button {
    margin: 0px 10px; 
    background: none; 
    border: none; 
    cursor: pointer; 
    transition: transform 0.1s ease;
}

.top-separator__nav-button img {
    object-fit: contain; 
    transition: transform 0.3s ease;
}

.top-separator__nav-button:active {
    transform: scale(0.9); 
}


.nav-button {
    margin: 0px 10px; 
    background: none; 
    border: none; 
    cursor: pointer; 
}


.nav-button img {
    object-fit: contain; 
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden; 
    position: relative;
}

.photo-container__displayed-image {
    max-width: 100%;
    max-height: 400px; 
    transition: transform 0.3s ease;
}

.photo-container__displayed-video {
    max-width: 100%; 
    max-height: 100%; 
    display: none; 
}

.displayed-image {
    max-width: 100%;
    max-height: 400px; 
    transition: transform 0.3s ease;
}

.bottom-footer {
    background-color: #DCAADF;
    width: 100%;
    height: 55px;
    position: relative;
}  

#displayImage {
    max-width: 100%; 
    position: relative; 
    transition: transform 0.3s; 
    touch-action: none; 
}

/* .nastya-cv-img {
    display: block; 
    width: 100%; 
    height: auto; 
    float: left;
} */
.nastya-cv-img {
    width: auto; 
    height: auto; 
    max-width: 100%; 
    display: block; 
    margin: 0 auto; 
}


.to-field {
    display: flex;
    align-items: center;
    background-color: #FFD6A6;
    height: 44px;
    width: 100%;
    position: relative;
    justify-content: center;
}

.to-text {
    font-family: 'W95FA', sans-serif;
    font-size: 26px;
    color: #F64B81;
}

.dropdown {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-left: 21px;
}

.dropdown-select {
    background-color: white;
    width: 277px;
    height: 23px;
    font-family: 'W95FA', sans-serif;
    font-size: 17.5px;
    color: #FFB35C;
    padding: 0 5px;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 2;
}

.dropdown-icon {
    margin-left: 5px;
    font-size: 15px;
}

.dropdown-menu {
    margin-top: 100px;
    display: none;
    position: absolute;
    background: white;
    width: 277px;
    border: 1px solid #FFB35C;
    z-index: 1;
    margin-left: 55px;
}

.dropdown-item {
    font-family: 'W95FA', sans-serif;
    font-size: 17.5px;
    color: #FFA1BF;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    color: #F64B81;
}

.dropdown-divider {
    height: 2px;
    background-color: #FFB35C;
    margin: 0;
}

.subject-field {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #FFD6A6;
    height: 44px;
    width: 100%;
}

.subject-input {
    background-color: white;
    width: 277px;
    height: 23px;
    color: #FFB35C;
    font-family: 'W95FA', sans-serif;
    font-size: 15px;
    border: none;
    text-align: left;
    padding-left: 10px;
    margin-left: 55px;
}

.message-field {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.message-input {
    width: 344px;
    height: 500px;
    color: #000;
    font-family: 'W95FA', sans-serif;
    font-size: 20px;
    resize: none;
    padding: 10px;
    background-color: white;
    border-right: 2px solid #F64B81;
    border-bottom: 2px solid #F64B81;
    border-top: none;
    border-left: none;
}

.message-input::placeholder {
    color: #FEE8CF;
    opacity: 1;
}

.subject-input::placeholder {
    color: #FEE8CF;
    opacity: 1;
}

.send-button {
    /* position: relative; */
    /* margin-left: 48px; */
    cursor: pointer;
} 
.cv-body {
    display: flex;
    flex-direction: column;
    background-color: #FFF6F7;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: pink; 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden; 
    transition: opacity 0.8s cubic-bezier(0.3, 1, 0.36, 1), visibility 0.8s; 
    z-index: 999; 
}

.overlay.active {
    opacity: 1;
    visibility: visible; 
}

#overlayIcon {
    width: 100px; 
    height: auto;
    transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1); 
}

.overlay.active #overlayIcon {
    transform: scale(1.2); 
}

@media (max-width: 768px) {

    .windows-logo {
        width: 250px; 
    }
}

@media (max-width: 400px) {
    .windows-logo {
        width: 150px; 
    }
}

@media (max-height: 700px) {


    .grid__item img {
        width: 80%; 
    }

    .header__time {
        font-size: 1rem; 
    }

    .windows-logo {
        width: 150px;
    }
    .grid__item img {
        width: 80%; 
    }
    
    .photo {
        object-fit: contain; 
    }

}